.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs4{font-size:27.840000px;}
.fs0{font-size:32.160000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:39.840000px;}
.fs1{font-size:44.160000px;}
.y15{bottom:1.854800px;}
.yd{bottom:2.423000px;}
.yf{bottom:2.666000px;}
.y8{bottom:2.767900px;}
.yb{bottom:2.873600px;}
.y11{bottom:3.101500px;}
.y6{bottom:3.131300px;}
.y4{bottom:3.712900px;}
.y1d{bottom:3.789400px;}
.y21{bottom:3.789500px;}
.y12{bottom:3.866000px;}
.y19{bottom:4.080200px;}
.y13{bottom:4.389500px;}
.y43{bottom:4.447500px;}
.y1a{bottom:4.603700px;}
.y1b{bottom:4.810900px;}
.y2{bottom:8.092800px;}
.y41{bottom:8.954200px;}
.y17{bottom:11.716400px;}
.y40{bottom:18.403900px;}
.y3f{bottom:27.853600px;}
.y44{bottom:96.119400px;}
.y0{bottom:109.500000px;}
.y42{bottom:137.988800px;}
.y3e{bottom:179.858300px;}
.y3d{bottom:235.684200px;}
.y3c{bottom:250.222200px;}
.y3b{bottom:264.178700px;}
.y3a{bottom:278.135200px;}
.y39{bottom:292.091700px;}
.y38{bottom:306.048100px;}
.y37{bottom:320.004600px;}
.y36{bottom:333.961100px;}
.y35{bottom:347.917600px;}
.y34{bottom:361.874100px;}
.y33{bottom:375.830600px;}
.y32{bottom:389.787000px;}
.y31{bottom:403.743500px;}
.y30{bottom:417.700000px;}
.y2f{bottom:431.656500px;}
.y2e{bottom:445.613000px;}
.y2d{bottom:459.569400px;}
.y2c{bottom:473.525900px;}
.y2b{bottom:487.482400px;}
.y2a{bottom:501.438900px;}
.y29{bottom:515.395400px;}
.y28{bottom:529.351900px;}
.y27{bottom:543.308300px;}
.y26{bottom:557.264800px;}
.y25{bottom:571.221300px;}
.y24{bottom:585.177800px;}
.y23{bottom:599.134300px;}
.y22{bottom:613.090700px;}
.y20{bottom:627.047200px;}
.y1f{bottom:641.003700px;}
.y1e{bottom:654.960200px;}
.y1c{bottom:668.916700px;}
.y16{bottom:682.873200px;}
.y18{bottom:696.829600px;}
.y14{bottom:724.161100px;}
.y10{bottom:735.209900px;}
.ye{bottom:748.003400px;}
.yc{bottom:769.519600px;}
.ya{bottom:783.476100px;}
.y9{bottom:811.389100px;}
.y7{bottom:831.742300px;}
.y5{bottom:845.698800px;}
.y3{bottom:859.655200px;}
.y1{bottom:874.774800px;}
.hf{height:10.548800px;}
.hc{height:12.293500px;}
.h6{height:13.456400px;}
.h7{height:13.456500px;}
.h11{height:14.038000px;}
.h4{height:14.619600px;}
.he{height:17.484375px;}
.h13{height:20.268281px;}
.hd{height:20.281875px;}
.h2{height:21.016200px;}
.h3{height:23.413359px;}
.ha{height:23.429062px;}
.hb{height:24.996094px;}
.h12{height:26.208984px;}
.h9{height:27.000938px;}
.h10{height:27.994400px;}
.h8{height:32.149687px;}
.h5{height:32.171250px;}
.h14{height:41.369400px;}
.h1{height:760.500000px;}
.h0{height:950.041000px;}
.w10{width:21.269500px;}
.w12{width:23.688300px;}
.w15{width:26.107100px;}
.w19{width:26.107200px;}
.w1a{width:30.138600px;}
.w17{width:34.976200px;}
.w13{width:39.007600px;}
.w18{width:39.813800px;}
.w14{width:47.876600px;}
.wb{width:48.682900px;}
.we{width:50.295400px;}
.w8{width:59.164500px;}
.w6{width:60.777100px;}
.w1b{width:64.002200px;}
.w16{width:71.258700px;}
.w4{width:75.290000px;}
.w5{width:76.902600px;}
.w11{width:87.384200px;}
.wc{width:93.028200px;}
.wf{width:94.640800px;}
.wd{width:126.085500px;}
.wa{width:135.760800px;}
.w9{width:212.357200px;}
.w7{width:217.194800px;}
.w3{width:272.021700px;}
.w2{width:278.471900px;}
.w1{width:574.000000px;}
.w0{width:609.263100px;}
.x10{left:0.750000px;}
.x1{left:1.825000px;}
.x18{left:4.446200px;}
.x1d{left:5.655600px;}
.x23{left:6.838700px;}
.x1f{left:8.477500px;}
.x0{left:17.500000px;}
.x22{left:18.854200px;}
.xe{left:23.127500px;}
.x1c{left:26.634000px;}
.x1b{left:28.394500px;}
.x1a{left:34.193300px;}
.x19{left:40.019500px;}
.x8{left:62.108000px;}
.x7{left:65.333200px;}
.x6{left:69.423100px;}
.x4{left:70.956700px;}
.x5{left:72.648300px;}
.x3{left:74.181900px;}
.x12{left:76.220700px;}
.xa{left:77.743500px;}
.x11{left:79.527100px;}
.x9{left:80.968700px;}
.xc{left:100.742300px;}
.xb{left:103.967400px;}
.x25{left:120.728000px;}
.x24{left:123.953200px;}
.xd{left:127.903700px;}
.x14{left:154.510800px;}
.x15{left:203.693700px;}
.x20{left:225.463200px;}
.x2{left:318.991400px;}
.x1e{left:343.179700px;}
.x13{left:378.655900px;}
.xf{left:418.969700px;}
.x16{left:445.576900px;}
.x17{left:496.372300px;}
.x21{left:527.010900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs5{font-size:32.000000pt;}
.fs4{font-size:37.120000pt;}
.fs0{font-size:42.880000pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.120000pt;}
.fs1{font-size:58.880000pt;}
.y15{bottom:2.473067pt;}
.yd{bottom:3.230667pt;}
.yf{bottom:3.554667pt;}
.y8{bottom:3.690533pt;}
.yb{bottom:3.831467pt;}
.y11{bottom:4.135333pt;}
.y6{bottom:4.175067pt;}
.y4{bottom:4.950533pt;}
.y1d{bottom:5.052533pt;}
.y21{bottom:5.052667pt;}
.y12{bottom:5.154667pt;}
.y19{bottom:5.440267pt;}
.y13{bottom:5.852667pt;}
.y43{bottom:5.930000pt;}
.y1a{bottom:6.138267pt;}
.y1b{bottom:6.414533pt;}
.y2{bottom:10.790400pt;}
.y41{bottom:11.938933pt;}
.y17{bottom:15.621867pt;}
.y40{bottom:24.538533pt;}
.y3f{bottom:37.138133pt;}
.y44{bottom:128.159200pt;}
.y0{bottom:146.000000pt;}
.y42{bottom:183.985067pt;}
.y3e{bottom:239.811067pt;}
.y3d{bottom:314.245600pt;}
.y3c{bottom:333.629600pt;}
.y3b{bottom:352.238267pt;}
.y3a{bottom:370.846933pt;}
.y39{bottom:389.455600pt;}
.y38{bottom:408.064133pt;}
.y37{bottom:426.672800pt;}
.y36{bottom:445.281467pt;}
.y35{bottom:463.890133pt;}
.y34{bottom:482.498800pt;}
.y33{bottom:501.107467pt;}
.y32{bottom:519.716000pt;}
.y31{bottom:538.324667pt;}
.y30{bottom:556.933333pt;}
.y2f{bottom:575.542000pt;}
.y2e{bottom:594.150667pt;}
.y2d{bottom:612.759200pt;}
.y2c{bottom:631.367867pt;}
.y2b{bottom:649.976533pt;}
.y2a{bottom:668.585200pt;}
.y29{bottom:687.193867pt;}
.y28{bottom:705.802533pt;}
.y27{bottom:724.411067pt;}
.y26{bottom:743.019733pt;}
.y25{bottom:761.628400pt;}
.y24{bottom:780.237067pt;}
.y23{bottom:798.845733pt;}
.y22{bottom:817.454267pt;}
.y20{bottom:836.062933pt;}
.y1f{bottom:854.671600pt;}
.y1e{bottom:873.280267pt;}
.y1c{bottom:891.888933pt;}
.y16{bottom:910.497600pt;}
.y18{bottom:929.106133pt;}
.y14{bottom:965.548133pt;}
.y10{bottom:980.279867pt;}
.ye{bottom:997.337867pt;}
.yc{bottom:1026.026133pt;}
.ya{bottom:1044.634800pt;}
.y9{bottom:1081.852133pt;}
.y7{bottom:1108.989733pt;}
.y5{bottom:1127.598400pt;}
.y3{bottom:1146.206933pt;}
.y1{bottom:1166.366400pt;}
.hf{height:14.065067pt;}
.hc{height:16.391333pt;}
.h6{height:17.941867pt;}
.h7{height:17.942000pt;}
.h11{height:18.717333pt;}
.h4{height:19.492800pt;}
.he{height:23.312500pt;}
.h13{height:27.024375pt;}
.hd{height:27.042500pt;}
.h2{height:28.021600pt;}
.h3{height:31.217812pt;}
.ha{height:31.238750pt;}
.hb{height:33.328125pt;}
.h12{height:34.945312pt;}
.h9{height:36.001250pt;}
.h10{height:37.325867pt;}
.h8{height:42.866250pt;}
.h5{height:42.895000pt;}
.h14{height:55.159200pt;}
.h1{height:1014.000000pt;}
.h0{height:1266.721333pt;}
.w10{width:28.359333pt;}
.w12{width:31.584400pt;}
.w15{width:34.809467pt;}
.w19{width:34.809600pt;}
.w1a{width:40.184800pt;}
.w17{width:46.634933pt;}
.w13{width:52.010133pt;}
.w18{width:53.085067pt;}
.w14{width:63.835467pt;}
.wb{width:64.910533pt;}
.we{width:67.060533pt;}
.w8{width:78.886000pt;}
.w6{width:81.036133pt;}
.w1b{width:85.336267pt;}
.w16{width:95.011600pt;}
.w4{width:100.386667pt;}
.w5{width:102.536800pt;}
.w11{width:116.512267pt;}
.wc{width:124.037600pt;}
.wf{width:126.187733pt;}
.wd{width:168.114000pt;}
.wa{width:181.014400pt;}
.w9{width:283.142933pt;}
.w7{width:289.593067pt;}
.w3{width:362.695600pt;}
.w2{width:371.295867pt;}
.w1{width:765.333333pt;}
.w0{width:812.350800pt;}
.x10{left:1.000000pt;}
.x1{left:2.433333pt;}
.x18{left:5.928267pt;}
.x1d{left:7.540800pt;}
.x23{left:9.118267pt;}
.x1f{left:11.303333pt;}
.x0{left:23.333333pt;}
.x22{left:25.138933pt;}
.xe{left:30.836667pt;}
.x1c{left:35.512000pt;}
.x1b{left:37.859333pt;}
.x1a{left:45.591067pt;}
.x19{left:53.359333pt;}
.x8{left:82.810667pt;}
.x7{left:87.110933pt;}
.x6{left:92.564133pt;}
.x4{left:94.608933pt;}
.x5{left:96.864400pt;}
.x3{left:98.909200pt;}
.x12{left:101.627600pt;}
.xa{left:103.658000pt;}
.x11{left:106.036133pt;}
.x9{left:107.958267pt;}
.xc{left:134.323067pt;}
.xb{left:138.623200pt;}
.x25{left:160.970667pt;}
.x24{left:165.270933pt;}
.xd{left:170.538267pt;}
.x14{left:206.014400pt;}
.x15{left:271.591600pt;}
.x20{left:300.617600pt;}
.x2{left:425.321867pt;}
.x1e{left:457.572933pt;}
.x13{left:504.874533pt;}
.xf{left:558.626267pt;}
.x16{left:594.102533pt;}
.x17{left:661.829733pt;}
.x21{left:702.681200pt;}
}
